<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <%- include("./head") -%>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/home"><i class="material-icons" style="font-size:36px">explore</i></a>
    <a class="navbar-brand" href="home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link links" href="/profile">Profile</a>
        </li>
        <% if (user.isAdmin) { %>
        <li class="nav-item">
          <a class="nav-link links" href="/users">All SignUp Users</a>
        </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link links" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Email</th>
          <th scope="col">Linked Id</th>
          <th scope="col">Created On</th>
        </tr>
      </thead>
      <tbody>
        <% allUsersData.forEach(function(user, index){ %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= user.linkedId %></td>
            <td><%= user.createdDate %></td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
</body>

</html>